.hero {
  color: $color-text1;
  text-align: center;
  &__img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translateY(-300px);
    @media all and (min-width: 768px) {
      transform: translateY(-350px);
    }
    @media all and (min-width: 1200px) {
      transform: translateY(-400px);
    }
    &--button {
      width: 38px;
      height: 36px;
      background-color: $color-text1;
      border-radius: 50%;
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media all and (min-width: 768px) {
        width: 43px;
        height: 45px;
      }
      @media all and (min-width: 1200px) {
        width: 46px;
        height: 46px;
      }
    }
  }
  &__title {
    font: $robotoSlab_30;
    line-height: 50px;
    width: 16ch;
    text-shadow: 0 2px 3px $color-shadow;
    @media all and (min-width: 768px) {
      font: $robotoSlab_75;
      line-height: 100px;
    }
    @media all and (min-width: 1200px) {
      font: $robotoSlab_100;
      line-height: 132px;
      text-shadow: 0 2px 5px $color-shadow;
    }
  }
  &__text {
    font: $robotoRegular_16;
    line-height: 19px;
    width: 26ch;
    @media all and (min-width: 768px) {
      font: $robotoRegular_24;
      line-height: 28px;
    }
    @media all and (min-width: 1200px) {
      width: auto;
    }
  }
}
