.section1 {
  padding: 34px 12px 50px 16px;
  @media all and (min-width: 768px) {
    padding: 37px 39px 51px 37px;
  }
  @media all and (min-width: 1200px) {
    padding: 58px 136px 67px 275px;
  }
  &__title {
    font: $robotoSlab_24;
    line-height: 30px;
    margin-bottom: 11px;
    @media all and (min-width: 768px) {
      font: $robotoSlab_32;
      line-height: 45px;
    }
    @media all and (min-width: 1200px) {
      margin-bottom: 7px;
    }
  }
  &__text {
    font: $robotoRegular_18;
    color: $color-background2;
    line-height: 30px;
    @media all and (min-width: 768px) {
      font: $robotoRegular_20;
      line-height: 30px;
    }
    &--small {
      font: $robotoRegular_14;
      color: $color-main;
      line-height: 30px;
      @media all and (min-width: 768px) {
        font: $robotoRegular_16;
        line-height: 30px;
      }
    }
  }
  &__button {
    width: 160px;
    height: 45px;
    background-color: $color-text1;
    color: $color-main;
    font: $robotoMedium_20;
    border: solid 2px $color-main;
    border-radius: 22.5px;
    margin-top: 20px;
    cursor: pointer;
    @media all and (min-width: 1200px) {
      margin-top: 25px;
    }
  }
}
